.header {
  background: #6472f2;
  height: 150px;
}

.header h1 {
  margin: 0;
  padding-top: 10px;
  text-align: left;
  color: white;
  font-size: 3rem;
}

/* .App {
  text-align: 'flex-right';
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 
